.navbar {
    border-bottom: 1px solid lightgray;
}

.navbar-nav {
    width: 60%;
}

.nav-item {
    cursor: pointer;
    font-size: 1.5rem;
    margin: auto 10px
}

.nav-item.active {
    border-bottom: 2px solid black;
}

.navbar-brand {
    font-size: 2rem!important;
    font-weight: 500;
}